


#logo {
    height: 70px;
}



#hero {
    background-color: grey;
    text-transform: uppercase;
}

#alpha {
    margin-top: 200px;
}

#testimonials {
    background-color: grey;
}



#imgc {
    height: 400px;
    width: 400px;   
}
