
*{
	font-family: 'Oswald', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;

}

#logo {
    height: 70px;
}

#hero {
    background:url(../images/hero.jpg) center no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

#alpha {
    margin-top: 200px;
}

#testimonials {
    background-color: grey;
}

#trainer {
	background: url(../images/trainerbg.jpg)center no-repeat;
	background-size: cover;
}

#promo {
	background: url(../images/promobg.jpg)center no-repeat;
	background-size: cover;
}
#signup {
	background: url(../images/signup.jpg)center no-repeat;
	background-size: cover;
}
